@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: linear-gradient(
    rgb(7, 7, 40),
    rgb(7, 7, 40),
    rgb(7, 7, 30),
    rgb(7, 7, 40),
    rgb(6, 6, 30)
  ); */

  background: radial-gradient(
    rgb(7, 7, 40),
    rgb(7, 7, 40),
    rgb(7, 7, 30),
    rgb(7, 7, 40),
    rgb(6, 6, 30)
  );

  color: white;
  /* background: conic-gradient(
    rgb(7, 7, 40),
    rgb(7, 7, 40),
    rgb(7, 7, 30),
    rgb(7, 7, 30),
    rgb(7, 7, 40),
    rgb(6, 6, 30)
  ); */
}

body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}

.animation_effect {
  background-color: transparent;
  width: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.animation_effect::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;

  top: 0px;
  left: 0px;
  z-index: 0;
  background-color: rgba(0, 0, 255, 0.275);
  box-shadow: 5 4 10 50 blue;
  filter: drop-shadow(4 4 4 5 blue);
  animation: spin 8s 0.1s ease-in-out infinite forwards;
  filter: blur(35px);
}
@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
.animation_effect::after {
  position: absolute;
  content: "";
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
  border-radius: 10px;
  z-index: 0;
  background-color: rgba(211, 211, 211, 0.23);
}

.footer {
  width: 100%;
  background: linear-gradient(
    rgb(7, 7, 40),
    rgb(7, 7, 30),
    rgb(7, 7, 40),
    rgb(6, 6, 30)
  );
  box-shadow: 2px 2px 100px 50px rgb(7, 7, 60) inset;
}
